@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;700&display=swap');
:root {
    --dark: #0f111a;
    --lighter: #242631;
    --highlight: #63dc67;
    --text-white: #eeeef2;
    --text-grey: #878891;
}

a {
    color: inherit;
}

a:hover {
    color: unset;
}

html, body {
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
    font-
}

main {
    background-color: var(--dark);
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.photo img {
    width: 100%;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.info {
    color: var(--text-white);
}

.link {
    color: var(--highlight);
}

.info ul {
    font-size: 1.2em;
}

@media (max-width: 992px) {
    main .row {
        flex-direction: column-reverse;
    }
}